/*setear CSS*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #303030;
  font-family: 'Handlee', cursive;

}

/*clases reutilizables*/
.text-uppercase {
 text-transform: uppercase;
}

div {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px;
  width: 33%;
}

/*clases específicas*/
a {
  color: inherit;
  text-decoration: none;
}

ul li {
  display: inline;
  list-style: none;
  margin: 5px;
}

.logo-header {
  width: 200.px
}

header{
  position: relative;
}

nav {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.box-header {
  display: inline-block;
}

.logo-square {
  width: 100px;
  /*text-align: center;*/
}
section {
  text-align: center;
}

[class^="icon-"], [class*=" icon-"] {
font-size: 40px;
transition: 3s;
}

li:hover, [class^="icon-"]:hover, [class*=" icon-"]:hover {
  color: #db964a;

}

footer {
  background-color: grey;
  color: white;
  padding: 5px;
  text-align: center;
}

.btn {
  background-color: #db964a;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: inherit;
  padding: 10px;
}

.btn:hover {
  background-color: #644721;
}
